<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/parkboard.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/parkboard.css">

    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<body>

    <!-- Resources -->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

    <!-- Chart code -->
    <script src="../static/js/parkboard.js"></script>

    <!-- HTML -->
    <div id="chartdiv"></div>

</body>

</html>